.divCarousel{
    height: 100vh;
    width: 100%;
}
img{
    height: 100vh;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lbTitle {
    color:#fff;
}