<div class="container-fluid widget" *ngIf="id > 0 && form === 0 ">
	<div class="row lstBtns  container-fluid  justify-content-md-center" *ngIf="id > 0 && this.access === 1 && login === 1">
		<div class="col-md-2">
			<button class="btn btn-success btn-sm" (click)="doEdit()">{{ 'COMMON_EDIT' | translate | async }}</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-primary btn-sm" (click)="changeForm(2)">{{ 'COMMON_CHANGE_IMAGE' | translate | async }}</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-danger btn-sm" (click)="doDelete()">{{ 'COMMON_DELETE' | translate | async }}</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-default btn-sm" (click)="goBackList()">{{ 'COMMON_BACK_TO_LIST' | translate | async }}</button>
		</div>
	</div>
	<div class="row lstBtns  container-fluid  justify-content-end" *ngIf="id > 0 && (login === 0 || (this.access === 0 && login === 1))">

		<div class="col-md-2">
			<button class="btn btn-primary" (click)="goWall()">{{ 'COMMON_BACK' | translate | async }}</button>
		</div>
	</div>
	<app-item-info *ngIf="id > 0  && form === 0 && item.id > 0" [image]="image" [item]="item"></app-item-info>

	<div class="carousel-controls">
		<a data-slide="prev" (click)="doNextItem(0)" class="chevorn chevornLeft">
			<span class="fa fa-chevron-left"></span>
		</a>
		<a data-slide="next" (click)="doNextItem(1)" class="chevorn chevornRight">
			<span class="fa fa-chevron-right"></span>
		</a>
	</div>
</div>
<div class="container-fluid widget" *ngIf="form === 1 && login === 1">
	<div class="divFloatRight">
		<button class="btn btn-primary" (click)="goBack()">{{ 'COMMON_BACK' | translate | async }}</button>
	</div>
	<app-item-form [(item)]="item" [(id)]="id" [desCategory]="desCategory" [comboCategories]="comboCategories" (reload)="reload($event)"
	 (changeForm)="changeForm($event)"></app-item-form>
</div>
<div class="container-fluid widget text-center mt-5" *ngIf=" form === 2">
	<app-upload-image *ngIf="id" [id]="id" (goBack)="goBack($event)" (changeForm)="changeForm($event)"></app-upload-image>
</div>
<div class="container-fluid widget text-center mt-5" *ngIf="form === 3">
	<h4 class="lbTitle" style="font-weight:bold;color:green;">{{ 'COMMON_IMAGE_UPLOADED' | translate | async }}</h4>
	<button type="button" *ngIf="id === 0" class="w-50 btn btn-primary mt-4" (click)="goDetails()">{{ 'COMMON_CONTINUE' | translate | async }}
	</button>
	<button type="button" *ngIf="id > 0" class="w-50 btn btn-primary mt-4" (click)="reload()">{{ 'COMMON_CONTINUE' | translate | async }}
	</button>
</div>