<div class="row tgMenu" *ngIf="valuesCategories.length > 0">
	<div class="row w-100">
		<label class="lbTitle lbHeader">{{ 'COMMON_CONFIGURE_FILTER' | translate | async }}</label>
	</div>
	<div class="row w-100">
		<div class="float-left tgMenuOption" *ngFor="let cat of valuesCategories">
			<div>
				<input type="checkbox" checked (change)="slChange(cat.id)" id="chid{{cat.id}}">
				<label for="chid{{cat.id}}" class="col-form-label"> {{cat.name}}</label>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid justify-content-md-center row" *ngIf="values.length > 0">

	<div class="card col-md-3" (click)="goDetails(item.id)" *ngFor="let item of values" [style.display]="valuesCategoriesKey.indexOf(item.idCategory) == -1 ? 'none': 'block'">

		<div class="middle">
			<div class="text">{{ 'COMMON_VIEW' | translate | async }}</div>
		</div>
		<div class="draftLabel" *ngIf="item.draft && this.user == 1">
			<label class="label label-draft bg-danger text-white">{{ 'COMMON_DRAFT' | translate | async }}</label>
		</div>
		<div class="fill">
			<img class="card-img-top" [src]="'data:image/jpeg;base64,'+item.image">
		</div>

		<div class="card-body">
			<h5 class="lbTitle ellipsis">{{item.title}}</h5>
			<h6 class=" ellipsis">{{item.name}} {{item.lastname}}</h6>
			<small class="card-text">{{item.dob}}</small>
		</div>
	</div>
</div>

<systelab-loading *ngIf="values.length == 0 && itemsV == 0" [useClassic]="useClassic"></systelab-loading>